body {
  font-size: 16px;
}

.navbar .navbar-collapse {
  float: right;
  padding-right: 100px;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  font-size: 20px;
}

.navbar .navbar-nav > li > a {
  font-size: 20px;
}

.navbar .navbar-brand {
  font-family: 'Bitter', serif;
  font-size: 35px;
  padding-left: 50px;
}

a.checklist {
  color: #E91E63;
}

a:hover.checklist {
  color: #03A9F4;
}

a:focus.checklist {
  color: #4CAF50;
}
