  <div class="panel panel-material-pink video">
    <div class="panel-heading video">
      <h3 class="panel-title" style="text-align: center; font-size: 24px;">Why Learn HTML?</h3>
    </div>
    <div class="panel-body video">
<!--       <iframe width="560" height="315" style="margin-left: 23px;" src="https://www.youtube.com/embed/uXUjwk2-qx4"
      frameborder="0" allowfullscreen></iframe> -->
<!--       <hr> -->
      <p class="text-info video" style="font-size: 20px;">Every webpage you look at is written in a language called HTML.</p>
      <p class="video"><strong>HTML</strong> stands for HyperText Markup Language. A markup language is a programming language used to make text do more than just sit on a page: it can turn text into images, links, tables, lists, and much more. HTML is the markup language we'll be learning.</p>
      <p class="video"><strong>CSS</strong> is what makes webpages pretty. CSS means Cascading Style Sheets. Think of it like skin and makeup that covers the bones of HTML.</p>
      <br>
      <p class="video">Now let's get started!
      <hr>
      <%= link_to 'Back', root_path, class: 'btn btn-info back video' %>
      <%= link_to 'Next', quiz_lesson_path, class: 'btn btn-success next video' %>
    </div>
  </div>
