  <!-- START TILES-->
  <div class="dashboard display-animation" style="margin: 0 auto; width: 1130px;">
    <a class="tile tile-lg tile-pink ripple-effect" href="<%= raspi_lesson_path %>">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img raspi" style="height: 89%; width: 127%; margin-left: -76px; background-image: url(http://i.imgur.com/NgRPsh7.png);"></span>
      <span class="tile-holder tile-holder-sm">
          <span class="title">Make your own Computer using Raspberry Pi</span>
      </span>
      </span>
      </span>
    </a>
    <a class="tile tile-lg tile-sqr tile-purple ripple-effect" href="#">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img" style="height: 101%; width: 145%; margin-left: -40px; background-image: url(http://i.imgur.com/zfUHPHs.png);"></span>
      <span class="tile-holder tile-holder-sm">
          <span class="title">Women in Tech</span>
      </span>
      </span>
      </span>
    </a>
    <a class="tile tile-lg tile-sqr tile-cyan ripple-effect" href="<%= forum_questions_path %>">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img forum" style="height: 124%; width: 145%; margin-left: -43px; background-image: url(http://i.imgur.com/QCE6Hth.png);"></span>
      <span class="tile-holder tile-holder-sm">
          <span class="title">Forum</span>
      </span>
      </span>
      </span>
    </a>
    <a class="tile tile-lg tile-sqr tile-amber ripple-effect" href="#">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img tile-img-bg grace" style="height: 93%; margin-top: -41px; width: 133%; margin-left: -53px; background-image: url(http://i.imgur.com/aHLJdAn.png);"></span>
      <span class="tile-holder tile-holder-sm">
          <span class="title">About Amazing Grace</span>
      </span>
      </span>
      </span>
    </a>
    <a class="tile tile-lg tile-light-blue ripple-effect" href="<%= html_lesson_path %>">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img tile-img-bg" style="height: 95%; margin-left: 85px; width: 72%; margin-top: 1px; background-image: url(http://i.imgur.com/Z5ZP1wv.png);"></span>
      <span class="tile-holder tile-holder-sm">
          <span class="title">Create a Website using HTML and CSS</span>
      </span>
      </span>
      </span>
    </a>
    <a class="tile tile-lg tile-sqr tile-red ripple-effect" href="<%= leaderboard_path %>">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img leaderboard" style="height: 176%; margin-top: -39px; width: 115%; margin-left: 15px; background-image: url(http://i.imgur.com/SegPOgi.png); background-size: 90%, 90%;"></span>
      <span class="tile-holder tile-holder-sm">
          <span class="title">Leaderboard</span>
      </span>
      </span>
      </span>
    </a>
    <a class="tile tile-lg tile-sqr tile-indigo ripple-effect" href="#">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img" style="height: 109%; margin-left: 29px; background-image: url(http://i.imgur.com/QuqFS1V.png);"></span>
      <span class="tile-holder tile-holder-sm">
          <span class="title">Animate your Webpages using JavaScript</span>
      </span>
      </span>
      </span>
    </a>
    <a class="tile tile-lg tile-sqr tile-deep-orange ripple-effect" href="#">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img" style="margin-left: 22px; margin-top: 23px; background-image: url(http://i.imgur.com/5M6JVm6.png);"></span>
      <span class="tile-holder tile-holder-sm">
          <span class="title">Create a Web App using Ruby on Rails</span>
      </span>
      </span>
      </span>
    </a>
    <a class="tile tile-lg tile-light-green ripple-effect" href="#">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img tile-img-bg" style="margin-top: -165px; height: 153%; background-image: url(http://i.imgur.com/BgL7jRB.png);"></span>
      <span class="tile-holder tile-holder-sm">
          <span class="title">Create a Twitter Monitor using Raspberry Pi</span>
      </span>
      </span>
      </span>
    </a>
  </div>
  <!-- TILES END-->
