  <div class="panel panel-material-pink video">
    <div class="panel-heading video">
      <h3 class="panel-title" style="text-align: center; font-size: 24px;">Raspberry Pi <br> Beginner Setup Tutorial</h3>
    </div>
    <div class="panel-body video">
      <iframe width="560" height="315" style="margin-left: 23px;" src="https://www.youtube.com/embed/jr6IVLZmp28"
      frameborder="0" allowfullscreen></iframe>
      <hr>
      <p class='video'>Carrie Anne, maker of <strong>Geek Gurl Diaries</strong>, will show you how
        to set up your first Raspberry Pi.
      <p class="text-info video"><strong>About Geek Gurl Diaries</strong>
      <p class='video'>I am Carrie Anne. I am a geek, and these are my diaries. They are a collection of video logs
        about using and making technology, along side interviews with inspirational
        women in the fields of computing, science, technology and engineering.</p>
      <p class='video'>Check out more Geek Gurl Diaries <a href="https://www.youtube.com/channel/UCxrp2coE9wRrnlOO3V3UmdQ" target="_blank">here</a></p>
      <br>
      <hr>
      <%= link_to 'Back', materials_lesson_path, class: 'btn btn-info back video' %>
      <%= link_to 'Next', root_path, class: 'btn btn-success next video' %>
    </div>
  </div>
