  <div class="panel panel-material-pink checklist">
    <div class="panel-heading checklist">
      <h3 class="panel-title" style="text-align: center; font-size: 24px;">Raspberry Pi<br>Twitter Monitor</h3>
    </div>
    <div class="panel-body checklist">
        <p class="video">
          <input id="question1" name="question1" type="checkbox" value="1">
          <label>Raspberry Pi set up</label>
          <p class="video">We recommend you follow our instructions on setting up your <a class="video" href="<%= setup_lesson_path %>"
            target="_blank">Raspberry Pi</a> if you have not already. If you have questions or trouble setting your Raspberry Pi up
            just visit our forums and ask a question.
          </p>
        </p>
        <br></br>
        <p class="video">
          <input id="question2" name="question2" type="checkbox" value="1">
          <label><strong>Required Components</strong></label>
          <p class="video">Before we get started make sure you have the follow components ready:
            <ul>
            <li><a href="https://www.sparkfun.com/products/9590">Simple LED of any color. </a></li>
            <li><a href="https://www.sparkfun.com/products/8377">Resistor 330Ω 1/6th Watt.  </a></li>
            <li><a href="https://www.sparkfun.com/products/9140">A couple jumper wires.  </a></li>
            <li><a href="https://www.sparkfun.com/products/12046">A small breadboard.  </a></li>
          </ul>
          </p>
        </p>
        <br></br>
        <p class="video">
          <input id="question3" name="question3" type="checkbox" value="1">
          <label><strong>Twitter set up</strong></label>
          <p class="video">If you do not have a Twitter account visit <a href="https://twitter.com/">https://twitter.com/</a> and set one up. Once your account is set go to <a href="https://dev.twitter.com/">https://dev.twitter.com/</a> to set up a developer account.</p>
        </p>
        <br></br>
        <p class="video">
          <input id="question4" name="question4" type="checkbox" value="1">
          <label> <strong>Set up a Twitter application</strong></label>
          <p class="video">Click the “Create a new application” button, and you will be presented with a form to fill out about your application. Fill out the name and description fields. For “Website,” you can put something random, like http://github.com or something else that looks legitimate. At the bottom of the page, click the checkbox to agree to the rules, fill out the Captcha, and click the “Create your Twitter application” button.</p>
        </p>
        <hr />
        <a href="<%= dragndrop_lesson_path %>" class="btn btn-info back">Back</a>
        <a href="<%= setup_lesson_path %>" class="next checklist"><input class="btn btn-success next_button checklist" name="commit" type="submit" value="Next" disabled=""></a>
      </form>
    </div>
  </div>
