body {
  font-size: 18px;
}

.navbar .navbar-collapse {
  float: right;
  padding-right: 100px;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  font-size: 20px;
}

.navbar .navbar-nav > li > a {
  font-size: 20px;
}

.navbar .navbar-brand {
    margin-top: -18px;
}

.navbar-brand>img {
  display: block;
  height: 400%;
  padding-top: 3px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.tile-lg .content-wrapper .tile-content {
    height: 270px;
    padding: 0px;
}

.tile .content-wrapper .tile-content {
  height: 130px;
  padding: 0px;
}

a {
  color: #E91E63;
}

a:hover {
  color: #03A9F4;
}

a:focus {
  color: #4CAF50;
}

.avatargravatar {
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}
