.panel.video {
  width: 50%;
  margin: auto;
}

.panel-body.video {
  padding: 35px;
  padding-left: 60px;
}

a.btn.btn-success.next.video {
  float: right;
  margin-right: 15px;
  margin-top: 30px;
}

a.btn.btn-info.back.video {
  margin-top: 30px;
}

p.video {
  font-size: 18px;
  color: rgba(51, 51, 51, 0.83);
}

.text-info.video {
 color:#3CABF0;
}

.navbar-brand.links{
  background-image:url(http://i.imgur.com/YuorFks.png);
}
